
.button{
    border: solid 1px #ffa500;
    background-color: #ffffff;
}
div{
    border: solid 1px #ffa500;
}
.main-content{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
}
.info-box{
    width: 100%;
    padding-top: 20px;
}
.img-hold{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.pic{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}